config
bites/*.o
core/*.o
modules/live/*.o
modules/passive/*.o
tests/*.o
test_astar  
test_base  
test_gui  
test_ncurses_control  
test_pose  
test_pq  
test_tim571
test_x_base
test_x_tim571
test_rfid
test_ust10lx
test_x_ust10lx
test_rplidar
test_x_rplidar
test_pngwriter
test_xtion
test_x_xtion
