config
bites/*.o
core/*.o
modules/live/*.o
modules/passive/*.o
tests/*.o
test_astar
test_base
test_gui
test_ncurses_control
test_pose
test_pq
test_tim571
test_x_base
test_x_tim571
test_rfid
test_ust10lx
test_x_ust10lx
test_rplidar
test_x_rplidar
test_pngwriter
test_xtion
test_x_xtion
test_x_line_map
test_line_map
test_hough
test_math_2d
test_nxt
test_wheels
test_x_line_map_original
test_actuator
test_x_avoid
test_x_navig
test_t265
poses.txt
nxt/lib
nxt/tmp-tests
nxt/NXTOperator
nxt/NXTOperator.mdb
nxt/TestMonoBrick
test_shake
retired_to_be_deleted
last
